$font-size-base = 16px; // 默认是 16px 大小
$font-family-headings = "lucida grande", "lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; // 标题，修改成你期望的字体族
$font-family-base = "lucida grande", "lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;// 修改成你期望的字体族
